.unordered{
    list-style-type : square;
    /* list-style-type: none; */
    background-color: azure;
    border: 2px dotted pink;

}

.ordered{
    list-style-type: upper-roman;
    /* list-style-position: inside; */
    background-color: bisque;
    border: 2px dotted pink;
}
li{
    color:chocolate;
    background-color: coral;
    border: 1px solid black;
    padding: 5px 2px;
    text-align: center;
}