img{
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.one img{
    float: left;
}
.two img{
    float: right;
}

.three img{
    float: left;
}
p{
    clear: both;
    overflow: auto;
}